body{
  margin: 0;
  padding: 0;
    font-family: 'Arial', sans-serif;
    color: #fff;
  }
.hero-section {
    position: relative;
    text-align: center;
    background: url(./images/headphones_hero_1.jpg);
    height: 100vh;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
  }
header .logo{
  display: flex;
  padding: 20px 50px;
  align-items: center;
}
nav ul{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  margin: 0 15px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
nav ul li a:hover{
  color: #FF6565;
}
.hero-content {
  text-align: center;
  max-width: 700px;
  margin: auto;
  padding: 0 20px;
}
.hero-content h1 {
  position: relative;
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}
.hero-content .subtitle {
  font-size: 20px;
  margin-bottom: 20px;
}
.hero-content .cta-button {
  display: inline-block;
  margin: 20px 0;
  background-color: #ff6b6b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.hero-content .cta-button:hover {
  opacity: 0.9; 
}
.hero-content .description {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 20px;
}



